<div class="d-flex flex-column justify-content-center align-items-center auth px-sm-4 px-3">
  <div class="auth__box container d-flex flex-column align-items-center justify-content-center">
    <img ngSrc="assets/logo.svg" alt="logo" class="logo my-4" width="171" height="73" priority>
    <h2 class="title m-3 mt-4">Login Into Your Account</h2>
    <h3 class="sub-title m-1">share all of Your Links, One Login Away</h3>
    <div class="py-5 btn-container">
      @defer{
        <asl-google-signin-button
          theme="outline"
          text="continue_with"
          type="standard"
          [width]="300"
          shape="circle"
          size="large"
        ></asl-google-signin-button>
      } @placeholder {
        <img ngSrc="assets/icons/loading.svg" class="loading" width="80" height="80" priority alt="loading" />
      }
    </div>
  </div>
</div>
