
.auth {
  height: 100vh;
  height: 100svh;

  &__box {
    border-radius: 2rem;
    background: var(--main-container);
    padding: 1rem;
    max-width: 650px;
    min-height: 450px;

    & .logo {
      height: 20vm;
    }

    & .title {
      font-size: clamp(1.125rem, 0.6544rem + 2.3529vw, 2.125rem);
    }

    & .sub-title {
      font-size: clamp(0.875rem, 0.6985rem + 0.8824vw, 1.25rem);
      color: var(--text-secondary);
      text-align: center;
    }
  }

  & .btn-container{
    height: 144px;
    & .loading {
      &::ng-deep svg{
        & circle{
          fill: var(--primary);
        }
      }
    }
  }
}
