<form class=" pt-4" appFormSubmit [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <app-uploader
        type="user"
        [imageUrl]="form.controls['profile_photo_url'].value"
        (imageUrlChange)="form.controls['profile_photo_url'].patchValue($event)"
      />
    </div>
    <div class="col-12 py-3">
      <div class="form-field">
        <label class="required-flag">First name</label>
        <div class="input-container">
          <input appInput type="text" formControlName="first_name" placeholder="Enter your first name">
        </div>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="form-field">
        <label class="required-flag">Last name</label>
        <div class="input-container">
          <input appInput type="text" formControlName="last_name" placeholder="Enter your last name">
        </div>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="form-field">
      </div>
      <div class="form-field">
        <label>Phone number</label>
        <div class="mobile-section input-container" formGroupName="phone_number">
          <ng-select [clearable]="false"
                     formControlName="country_code"
                     (change)="onSelectedCountry($event)"
                     [searchable]="true">
            @for (item of countryList; track item.code) {
              <ng-option [value]="item.code">
                <div class="d-flex align-items-center justify-content-center">
                  <i class="me-2" style="font-size: 25px">{{ item.icon }}</i>
                  <p class="d-none">{{ item.name }}</p>
                  {{ item.dial_code }}
                </div>
              </ng-option>
            }
          </ng-select>
          <input appInput type="tel" formControlName="number" placeholder="Enter your phone number"
                 inputmode="numeric">
        </div>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="form-field">
        <label>Email</label>
        <div class="input-container">
          <input type="email" [value]="userEmail" placeholder="Enter your phone number" [disabled]="true">
          <app-inline-svg class="icon icon-transparent"
                          src="assets/icons/tick-circle.svg"
                          fill="var(--success)"
                          width="30px"
                          height="30px"/>
        </div>
      </div>
    </div>
    <div class="col-12 pt-5 pb-2">
      <button type="submit" class="btn btn-full btn-primary">
        submit
      </button>
    </div>
  </div>
</form>
