$ball-width: 30px;
$ball-height: 30px;
$ball-right-margin: 8px;
$ball-left-margin: 8px;

$slider-width: 95px;
$offset: 8px;
$slider-height: $ball-height + $offset;

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: $slider-width;
  height: $slider-height;
  padding: 3px;
  margin-bottom: 0;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: content-box;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: var(--main-background);
  border-radius: inherit;
  box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

@media screen and (max-width: 500px) {

  .switch-label:before {
    display: none;
  }

  .switch-label:after {
    display: none;
  }
}

.switch-label:before {
  content: attr(data-off);
  right: 10px;
  font-size: .6rem;
  color: #aaaaaa;
}

.switch-label:after {
  content: attr(data-on);
  left: 10px;
  color: #FFFFFF;
  font-size: .6rem;
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: var(--primary);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: $offset - 1;
  left: $ball-left-margin;
  width: $ball-width;
  height: $ball-height;
  background: #fff;
  border-radius: 100%;
}

.switch-input:checked ~ .switch-handle {
  left: calc(100% - #{$ball-width} - #{$ball-right-margin});
}

.label {
  font-size: clamp(0.8rem, 0.7059rem + 0.4706vw, 1rem);
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}


@media screen and (max-width: 500px) {
  $ball-width: 20px;
  $ball-height: 20px;
  $slider-width: 55px;
  $slider-height: $ball-height + $offset;
  .switch {
    width: $slider-width;
    height: $slider-height;
  }

  .switch-handle {
    top: $offset - 1;
    left: $ball-left-margin;
    width: $ball-width;
    height: $ball-height;
  }

  .switch-input:checked ~ .switch-handle {
    left: calc(100% - #{$ball-width} - #{$ball-right-margin});
  }
}
