<div class="uploader d-flex align-items-center justify-content-center mb-3">
  <input type="file" #file class="d-none" name="file-input" (change)="onUploadFile($event)"
         accept="image/jpeg, image/png">
  <div class="image-holder d-flex align-items-center justify-content-center" (click)="file.click()">
    @if (imageURL()) {
      <img [ngSrc]="imageURL()" priority fill alt="user-avatar"/>
    } @else {
      <app-inline-svg src="assets/icons/user.svg" width="100px" height="100px" fill="#fff"/>
    }
    <button type="button" class="upload-btn d-flex align-items-center justify-content-center">
      <app-inline-svg src="assets/icons/document-upload.svg" class="me-1" width="20px" height="20px" fill="var(--text)"/>
      upload
    </button>


  </div>
</div>


<app-modal [(showModal)]="!!_imageChangedEvent" [closeable]="false" heightSize="30">
  <image-cropper
    [imageChangedEvent]="_imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="3 / 3"
    backgroundColor="#333"
    format="jpeg"
    [roundCropper]="true"
    [imageQuality]="25"
    (imageCropped)="imageCropped($event)"
  />

  <div class="d-flex flex-row-reverse pt-4">
    <button class="btn btn-primary flex-fill" (click)="previewSelectedImage()">upload</button>
    <button class="btn btn-background flex-fill me-2" (click)="_imageChangedEvent = null">cancel</button>
  </div>
</app-modal>
