<form class="social-media pt-2" appFormSubmit [formGroup]="form" (ngSubmit)="submit()">
  <h3 class="title">Select Your Preferred Social Media and Add Your Link</h3>
  <div class="row">
    @for (item of getFormArray(); track item.value.id) {
      <div class="col-12 col-md-6" [formGroup]="item">
        <div class="social-media__item d-flex justify-content-center align-items-center flex-column p-1 cursor-pointer"
             [ngClass]="{'active': item.value.active}">
          <div class="col-12 mt-1 d-flex justify-content-center" (click)="toggle(item , inputField)">
            <img class="mb-2" src="assets/social-media/{{item.value.name}}.svg"/>
          </div>
          <div class="col-12" [hidden]="!item.value.active">
            <div class="form-field">
              <div class="input-container">
                <input appInput #inputField type="url" formControlName="title"
                       placeholder="https://{{item.value.name}}.com/@someone">
              </div>
            </div>
          </div>
          <span *ngIf="!item.value.active"
                class="name d-flex align-items-center justify-content-center">{{ item.value.name }}</span>
        </div>
      </div>
    }
  </div>
  <div class="col-12 pt-4 submit-container">
    <button type="submit" class="btn btn-full btn-primary">
      Confirm for Next Step
    </button>
  </div>
</form>
