<form appFormSubmit [formGroup]="form" (ngSubmit)="submit()">
  <div class="d-flex align-items-center">
    <app-inline-svg class="me-2" src="assets/icons/link.svg" fill="var(--text)"/>
    <h3>Extra Link</h3>
  </div>
  <div class="row" formArrayName="extraLinks">
    @for (item of getFormArray(); track item.controls['value'].value; let i = $index) {
      <ng-container [formGroupName]="i">
        <div class="col-md-4 col-12 mb-4">
          <div class="form-field">
            <div class="input-container">
              <app-inline-svg (click)="removeFromArray(i)"
                              src="assets/icons/minus-circle.svg"
                              width="28px" height="28px"
                              fill="var(--danger)" class="d-flex align-items-center cursor-pointer me-1"/>
              <input appInput type="text" formControlName="title" placeholder="Enter Title: website">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 mb-4">
          <div class="form-field">
            <div class="input-container">
              <input appInput type="url" inputmode="url" formControlName="value" placeholder="Enter link: https://google.com">
            </div>
          </div>
        </div>
      </ng-container>
    }
  </div>
  <button type="button" class="btn btn-background btn-full" (click)="addToForm()">
    <app-inline-svg src="assets/icons/add-circle.svg" width="28px" height="28px" fill="var(--success)" class="me-2"/>
    Add Link
  </button>
  <button class="btn btn-full btn-primary my-5" type="submit">{{ submitBtnText }}</button>
</form>
