@mixin info-box {
  border-radius: 1rem;
  border: 1px solid var(--text-secondary);
  min-height: 80px;
  position: relative;
  margin: 32px 0;
  padding: 20px;
  & .title {
    position: absolute;
    background: var(--main-container);
    padding: 0 8px;
    left: 24px;
    top: -11px;
    font-weight: bold;
    font-size: 1rem;
  }
  & .action-btn {
    @media only screen and (max-width: 450px) {
      width: 60px;
      & span {
        display: none;
      }
      & app-inline-svg {
        margin-right: 0 !important;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 15px 0 25px;
    background: var(--primary);
    width: 160px;
    height: 40px;
    border: none;
    cursor: pointer;

    & span {
      color: #fff;
    }

    & app-inline-svg {
      margin-right: 6px;

      &::ng-deep {
        & svg path {
          fill: #fff;
        }
      }
    }
  }
  .field {
    padding: 16px 32px;

    & .key {
      color: var(--text);
      margin-bottom: 8px;
      font-size: clamp(0.8rem, 0.7059rem + 0.4706vw, 1rem);
    }

    & .value {
      line-height: 1.5;
      color: var(--text-secondary);
      font-size: clamp(0.8rem, 0.7059rem + 0.4706vw, 1rem);
      word-break: break-word;
    }
  }
}
