.breadcrumb{
  app-inline-svg{
    cursor: pointer;
  }
  h3{
  font-weight: 500;
  font-size: clamp(1.125rem, 0.8309rem + 1.4706vw, 1.75rem);
  color: var(--text);
  }
  p{
    font-size: clamp(0.875rem, 0.7574rem + 0.5882vw, 1.125rem);
    color: var(--text-secondary);
    line-height: 1.5;
  }
}
