@font-face {
  font-family: "Poppins";
  src: url('../../fonts/Poppins-Regular.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/Poppins-Regular.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/Poppins-Medium.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/Poppins-Medium.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/Poppins-Medium.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/Poppins-Medium.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/Poppins-bold.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/Poppins-bold.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: 700;
  font-style: normal;
}
