@font-face {
  font-family: "Poppins";
  src: url('../../fonts/poppins-regular.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/poppins-regular.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/poppins-medium.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/poppins-medium.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/poppins-medium.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/poppins-medium.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../../fonts/poppins-bold.woff2') format('woff2'), /* WOFF2 format */
  url('../../fonts/poppins-bold.ttf') format('truetype'); /* TTF format (fallback) */
  font-weight: 700;
  font-style: normal;
}
