.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-size: clamp(0.9rem, 0.7867rem + 0.4267vw, 1rem);
    padding-bottom: 12px;
    white-space: nowrap;
    color: var(--text);

    &.required-flag {
      &:after {
        content: "*";
        margin: 4px 0 0 2px;
        position: absolute;
        color: var(--danger);
      }
    }
  }

  & .input-container {
    display: flex;
    position: relative;
  }

  & .mobile-section {
    & ng-select {
      position: absolute;
      max-width: 110px;
      min-width: 105px;
    }

    & input {
      padding-left: 110px;
    }
  }

  & .prefix {
    position: absolute;
    top: 13px;
    left: 13px;
    color: var(--primary-light);
    padding: 1px;
  }

  & .error {
    color: var(--danger);
    position: absolute;
    bottom: -18px;
    font-size: 0.8rem;
    left: 0;
  }

  & .icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    font-style: normal;
    height: 45px;
    background: var(--main-background);
    border-radius: 12px;
    align-items: center;


    &-transparent {
      background: transparent !important;
    }
  }


  & input,
  & textarea {
    width: 100%;
    border: none;
    font-size: clamp(0.85rem, 0.7867rem + 0.4267vw, .95rem);
    padding: 12px;
    color: var(--text);
    background: var(--main-background);
    border-radius: 12px;

    &:focus {
      outline: 1px solid var(--text-secondary);
    }

    //&.ng-touch.ng-invalid{
    //  outline: 1px solid var(--danger);
    //}
    &.ng-invalid.ng-dirty,
    &.ng-invalid.ng-touched {
      outline: 1px solid var(--danger);

    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  & input {
    min-height: 45px;
    max-height: 45px;
  }

  & textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 200px;
  }

  & textarea::placeholder {
    color: var(--text-secondary);
  }

  & input::placeholder {
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    font-size: clamp(0.85rem, 0.7867rem + 0.4267vw, .95rem);
  }


  .ng-select {
    & .ng-select-container {
      height: 45px;
      background: var(--main-background);
      border-radius: 12px;
      border: none !important;
      box-shadow: none !important;
      font-size: clamp(0.85rem, 0.7867rem + 0.4267vw, .95rem);
    }

    & .ng-dropdown-panel {
      background: var(--main-background);
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border: none
    }

    & .ng-dropdown-panel-items {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    .ng-option {
      background: var(--main-background);
      height: 45px;
      display: flex !important;
      align-items: center !important;

      &.ng-option-marked {
        background: var(--main-background-darker);
        opacity: .7;
      }

      &.ng-option-selected {
        background: var(--main-background) !important;
      }
    }
  }
}
