@import "../palet";

@mixin light-theme {
  --main-background: #{$background-body-light};
  --main-background-darker: #{$background-body-lighter-light};
  --main-container: #{$background-card-light};
  --text: #{$text-light};
  --text-secondary: #{$text-second-light};
  --primary: #{$primary-light};
  --primary-light: #{$primary-lighter-light};
  --primary-dark: #{$primary-darker-light};
  --primary-dark-bc: #{$primary-background-light};
  --danger: #{$danger-light};
  --danger-dark: #{$danger-darker-light};
  --success: #{$success-light};
  --success-dark: #{$success-darker-light};
  --warning: #{$waring-light};
  --info: #{$info-light};
  --cropper-outline-color: #{$background-body-light};
  --cropper-overlay-color: #{$background-card-light};
}

@mixin dark-theme {
  --main-background: #{$background-body-dark};
  --main-background-darker: #{$background-body-darker-dark};
  --main-container: #{$background-card-dark};
  --text: #{$text-dark};
  --text-secondary: #{$text-second-dark};;
  --primary: #{$primary-dark};
  --primary-light: #{$primary-lighter-dark};
  --primary-dark: #{$primary-darker-dark};
  --primary-dark-bc: #{$primary-background-dark};
  --danger: #{$danger-dark};
  --danger-dark: #{$danger-darker-dark};
  --success: #{$success-dark};
  --success-dark: #{$success-darker-dark};
  --warning: #{$waring-dark};
  --info: #{$info-dark};
  --cropper-outline-color: #{$background-body-dark};
  --cropper-overlay-color: #{$background-card-light};
}


[color-scheme="dark"] {
  @include dark-theme;
}

[color-scheme="light"] {
  @include light-theme;
}

// OS Default.
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}





