
  $black: #000000;
  $white: #FFFFFF;
  $background-body-light: #f8f8f8;
  $background-card-light: #e3e3e3;

  $background-body-dark: #1f2937;
  $background-card-dark: #111827;

  $text-light: #333;
  $text-dark: #fff;
