
  $background-body-light: #eaeaea;
  $background-body-dark: #1f2937;

  $background-body-lighter-light: #dfdfdf;
  $background-body-darker-dark: #1c212d;

  $background-card-light: #fefefe;
  $background-card-dark: #111827;

  $text-light: #333;
  $text-dark: #fff;

  $text-second-light: #6c7a89;
  $text-second-dark: #9ca3af;

  $primary-light: #2C51BF;
  $primary-dark: #314fc6;

  $primary-lighter-light: #5271d3;
  $primary-lighter-dark: #7893ff;

  $primary-darker-light: #193074;
  $primary-darker-dark: #122982;

  $primary-background-light: #b9c7ff;
  $primary-background-dark: #182866;

  $success-light: #427f2e;
  $success-dark: #1be15b;

  $success-darker-light: #2e6d1c;
  $success-darker-dark: #44972c;

  $waring-light: #d7b426;
  $waring-dark: #aba53b;

  $danger-light: #d14747;
  $danger-dark: #e63c3c;

  $danger-darker-light: #b02e2e;
  $danger-darker-dark: #a93232;


  $info-light: #2f7fa0;
  $info-dark: #3698c7;


